<h1 style="font-weight: lighter;">確認メール</h1>

<p>
  ※予約は完了していません。<br>
  下記のリンクから予約を完了させることができます。<br>
  このメールに心当たりのない場合は、リンクはクリックせず削除してください。
</p>
<%= link_to '予約を完了する', "http://#{host_name}/reserve/auth/#{@user.attr_id}?key=#{@user.url}"%>

<p>なお、このリンクはメール送信から15分で無効化されます</p>

<div style="border: 1px #666666 solid; padding: 10px; text-align: center;">
  <p style="margin: 3px; font-weight: bold;">予約日時</p>
  <%= @attr.time.strftime("%m/%d %H:%M") %>
  <p style="margin: 3px; font-weight: bold;">座席</p>
  <%= seat_is(@attr.seat).join(" ") %>
</div>
<p>
  当日は公演10分前までに受付にお越しください<br>
  お越しにならない場合は予約はキャンセルされます
</p>
<p>
  神戸電子サウンドアトラクション<br>
  宣伝大使ヴェルにゃん
</p>
