<h1>予約が完了しました</h1>

<p>以下の内容で予約しています</p>
<p>予約日時</p>
<%= @attr.time.strftime("%m/%d %H:%M") %>
<p>座席</p>
<%= seat_is(@attr.seat).join(" ") %>

<p>認証コード</p>
<%= @user.url[0..5] %>

<p>予約をキャンセルする場合は、以下のリンクを踏んでください</p>
<%= "http://#{host_name}/reserve/cancel_form/#{@user.attr_id}?key=#{@user.url}" %>

神戸電子サウンドアトラクション
宣伝大使ヴェルにゃん
