<h1 style="font-weight: lighter;">公演がもうすぐ始まります</h1>

<%= @body %>

  <p style="margin: 3px; font-weight: bold;">公演時間</p>
  <%= @attr.time.strftime("%m/%d %H:%M") %>
  <p style="margin: 3px; font-weight: bold;">座席</p>
  <%= seat_is(@attr.seat).join(" ") %>
  <p style="margin: 3px; font-weight: bold;">料金</p>
  <%= how_much(@attr.seat, @attr.authenticated_at) %>円
</div>

<p>
  ※お越しになったら、予約完了メールの認証コードを受付にお見せください。<br>
  その際、料金のお支払いをお願いします。
</p>

<p>神戸電子サウンドアトラクション<br>
  宣伝大使ヴェルにゃん</p>
