<p>
  サウンドアトラクションの公演まであと30分だにゃん！<br>
  受付をお済ませくださいにゃん！<br>
  公演10分前になると予約がキャンセルとなりますのでお気をつけくださいにゃん。<br>
  受付にて認証コードをお見せくださいにゃん。<br>
  無くしてしまった場合はこちらから再送できますにゃん！<br>
</p>
<p>
  <%= link_to '予約完了メールを再送する', "http://#{host_name}/reserve/resend" %>
</p>

<p>神戸電子サウンドアトラクション<br>
  宣伝大使ヴェルにゃん</p>
