<h1>確認メール</h1>

<P>※予約は完了していません。</p>
<p>下記のリンクを踏むことで予約が完了します。</p>
<p>このメールに心当たりのない場合は、リンクを踏まず削除してください。</p>
<%= "http://localhost:3000/reserve/auth/#{@user.attr_id}?key=#{@user.url}"%>

<p>予約日時</p>
<%= @attr.time.strftime("%m/%d %H:%M") %>
<p>座席</p>
<%= seat_is(@attr.seat).join(" ") %>

神戸電子サウンドアトラクション
宣伝大使ヴェルにゃん
