<h1>確認メール</h1>

<P>※予約は完了していません。</p>
<p>下記のリンクを踏むことで予約が完了します。</p>
<p>このメールに心当たりのない場合は、リンクを踏まず削除してください。</p>
<% if request.host == 'localhost'
     host = 'localhost:3000'
   else
     host = request.host
   end
%>
<%= "http://#{host}/reserve/auth/#{@user.attr_id}?key=#{@user.url}"%>
