// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin-console {
  font-family: Sans-Serif;
  color: black;
  table {
    text-align: center;
    width: 100%;
    tr {
      border: 1px #999999 solid;
      line-height: 30px;
    }
    .email {
      text-align: left;
    }
    .code {
      font-family: monospace;
      font-size: 1.2em;
    }
    .stripe {
      background-color: lightgray;
    }
  }
}

