// カラーコード
$gray-border: #666666;
$orange-theme: #f8b500;

// カスタムフォント
@font-face {
  font-family: "Letter Gothic Std Slanted";
  src: font-url('LetterGothicStd-Slanted.otf');
}
@font-face {
  font-family: 'Letter Gothic Std';
  src: font_url('LetterGothicStd')
}

// ClearFix
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

// 全体設定
body {
  font-family: 'Letter Gothic Std Slanted';
  color: $gray-border;
}
h1#logo {
  margin-top: 20px;
  text-align: center;
}
h2 {
  text-align: center;
}
span.space {
  font-stretch: ultra-condensed;
}

// PC向け
#container {
  width: 710px;
  margin: auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
// スマートフォン向け
#container-sp {
  width: 316px;
  margin: auto;
  margin-top: 10px;
}

// 時間選択画面
#date-select {
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  border: 2px $gray-border solid;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  #time-table-label {
    width: 100%;
    height: 30px;
    border-bottom: 2px $gray-border solid;
  }
  #date-29, #date-30 {
    width: 50%;
    height: 30px;
    box-sizing: border-box;
  }
  #date-29 {
    border-bottom-left-radius: 6px;
    border-right: 1px $gray-border solid;
    float: left;
  }
  #date-30 {
    border-bottom-right-radius: 6px;
    border-left: 1px $gray-border solid;
    float: right;
  }
}
#date-label {
  border: 1px $gray-border solid;
  width: 100%;
  line-height: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  #time-label {
    text-align: center;
    width: 35%;
    float:left;
  }
  #progress-label {
    text-align: center;
    width: 65%;
    float: right;
  }
}
#time-tables {
  .time-table {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: $gray-border;
    border: 1px $gray-border solid;
    height: 50px;
    margin-top: 3px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: white;
    .left {
      text-align: center;
      width: 35%;
      float: left;
      a {
        line-height: 35px;
        &:link, &:visited, &hover, &active {
          color: $gray-border;
        }
        text-decoration: none;
      }
    }
    .right {
      text-align: center;
      width: 65%;
      line-height: 35px;
      float: right;
    }
  }
}

// 席の選択画面
#room-select {
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  border: 2px $gray-border solid;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  #room {
    width: 100%;
    height: 30px;
    border-bottom: 2px $gray-border solid;
  }
  #btn-a, #btn-b {
    width: 50%;
    height: 30px;
    box-sizing: border-box;
  }
  #btn-a {
    border-right: 1px $gray-border solid;
    border-bottom-left-radius: 6px;
    float: left;
  }
  #btn-b {
    border-bottom-right-radius: 6px;
    border-left: 1px $gray-border solid;
    float: right;
  }
}
#seat-select {
  width: 300px;
}
#seat-select-pc {
  width: 624px;
  .each-room {
    width: 300px;
    float: left;
    border: 1px $gray-border solid;
    border-radius: 8px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
#seat-select, #seat-select-pc {
  clear: both;
  margin: auto;
  margin-bottom: 20px;
  #screen {
    font-size: 24px;
    font-family: "Letter Gothic Std Slanted";
    width: 130px;
    height: 60px;
    margin: auto;
    margin-top: 10px;
    line-height: 65px;
    border: 4px $gray-border solid;
    color: white;
    text-align: center;
    background-color: #2E2F30;
  }
  .room-name {
    font-size: 24px;
    text-align: center;
    margin: 3px;
  }
  .each-room {
    width: 300px;
  }
  div[id*="seat-"] {
    width: 100px;
    float: left;
    .seat-img {
      padding: 5px 10px;
      width: 80px;
      height: 80px;
    }
    .seat-label {
      text-align: center;
      font-size: 28px;
    }
  }
  #seat-4, #seat-9, #seat-4-pc, #seat-9-pc {
    margin-left: 50px;
  }
  .price {
    width: 200px;
    font-family: "Letter Gothic Std";
    letter-spacing: 1px;
    clear: both;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 10px;
    span {
      font-size: 16px;
    }
  }
  #price-aria {
    width: 400px;
    height: 100px;
    clear: both;
    margin: auto;
    position: relative;
    .price {
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      &:last-child {
        left: 200px;
      }
    }
  }
}

// メールフォーム
#email {
  #email_field {
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Letter Gothic Std Slanted';
    color: #666;
    width: 100%;
    margin-bottom: 10px;
    border: solid 1px #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #register {
    border: 1px $gray-border solid;
    background-color: white;
    width: 100%;
    height: 45px;
    padding-top: 2px;
    font-family: 'Letter Gothic Std Slanted';
    font-size: 18px;
    color: $gray-border;
  }
}
#back-btn {
  height: 52px;
  margin-left: 5px;
  padding-top: 12px;
  float: left;
  img {
    display: block;
  }
}
div.time {
  clear: both;
  padding-top: 10px;
  p {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    span {
      color: $orange-theme;
      font-size: 28px;
    }
  }
}
ul.errors {
  border: 1px #730E15 solid;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  color: #730E15;
  line-height: 20px;
}
h2#email-description {
  margin-top: 20px;
  margin-bottom: 3px;
}


// 吹き出し
div.flash {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-top:-70px;
  margin-left:-150px;
  .arrow-box {
    position: relative;
    font-size: 1.3em;
    width: 145px;
    height: 120px;
    margin-left: 10px;
    padding: 10px;
    background: #edcc93;
    border: 2px solid #57411f;
  }
  .arrow-box:after, .arrow-box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow-box:after {
    border-color: rgba(237, 204, 147, 0);
    border-left-color: #edcc93;
    border-width: 20px;
    margin-top: -20px;
  }
  .arrow-box:before {
    border-color: rgba(87, 65, 31, 0);
    border-left-color: #57411f;
    border-width: 23px;
    margin-top: -23px;
  }
  img {
    display: block;
    position: absolute;
    top: -35px;
    left: 160px;
  }
}