$gray-border: #666666;
$orange-theme: #f8b500;

@font-face {
  font-family: 'Letter Gothic Std';
  src: font-url('LetterGothicStd-BoldSlanted.otf');
}
body {
  font-family: 'Letter Gothic Std';
  //font-weight: bold;
  //font-style: italic;
  color: $gray-border;
}
#container {
  width: 710px;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#room-select {
  font-size: 3em;
  text-align: center;
  line-height: 64px;
  width: 154px;
  height: 108px;
  border: 2px $gray-border solid;
  border-radius: 10px;
  float: right;
  #room {
    width: 100%;
    height: 53px;
    border-bottom: 2px $gray-border solid;
  }
  #btn-a, #btn-b {
    width: 76px;
    height: 53px;
    background-color: $orange-theme;
    span {
      font-stretch: ultra-condensed;
    }
  }
  #btn-a {
    float: left;
    border-right: 2px $gray-border solid;
    border-bottom-left-radius: 8px;
  }
  #btn-b {
    float: right;
    border-bottom-right-radius: 8px;
  }
}
