<div id="cancel-form">
  <h2>キャンセルフォーム</h2>

  <p>予約をキャンセルしてもいいですか？</p>

  <%= button_to('キャンセルする', { action: :cancel, id: @attr.id, key: @user.url },
                data: { :disable_with => "処理中..." }) %>
</div>
