<div id="help">
  <% 7.times do |i| %>
    <% if i == 6 %>
      <%= link_to image_tag("help#{i+1}.jpg", width: 480), root_path %>
    <% else %>
      <%= image_tag "help#{i+1}.jpg", width: 480 %>
    <% end %>
  <% end %>
</div>
