<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750, maximum-scale=1.0, user-scalable=yes">
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
